.full-input {
    display: inline-block;
    width: 100%;
    margin: 5px;
    margin-top: 1rem;
    border: 1px solid #dcdcdd; 
    background-color: #e8e8e8;
    border-radius: 7px;
  }
select {
    outline: none;
    border: none;
    display:block;
    width: 95%;
    
    font-size: .8rem;
    padding-left: .8rem;
    padding-bottom: .3rem;
    background-color: #e8e8e8;
}
label {
    display: block;
    font-size: 12px;
    padding-left: 1rem;
    padding-top: .2rem;
    color: black;
}